body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding:150px;
}
.resume-container{
    display:flex;
    background-color: #b6af4e;
    width:65%;
    margin:0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0.1);
}
.left-section{
    background-color: #2c2c2c;
    color:white;
    padding: 20px;
    width:30%;
    text-align: center;
    border-right: 5px solid #e6cc39;
    
}
.profile-picture{
    width:150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border:5px solid #e3e639;
    margin-bottom: 20px;
}
h1{
    font-size: 24px;
    margin:10px 0;
    margin-bottom: 30px;
    text-align: center;
    text-decoration:underline;
}
h3{
    font-size: 18px;
    padding: 2%;
    margin:20px 0 10px  ;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px #e3e639;
    margin-top: 5%;
    margin-bottom: 5%;
}
 p{
    border: 1px solid #e3e639;
    border-radius: 3px; 
     box-shadow: 0 0 10px #e3e639; 
}
ul{
    list-style-type: fill round;
    padding: 10px;
    margin:10px 0;
}
ul li{
    margin: 5px 0;
   border :1px solid #e3e639;
    
}
.right-section{
    padding:20px;
    width:65%;
}